<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/text1.css">


<body>
<%- include('header') %>
<%- include('nav') %>
<!--本体-->
<section class="container-fluid projects">
    <div class="section_1" id="section_1">
        <% for(var i = 0;i < article.length;i++){var list = article[i]; %>
        <div class="col-sm-12 col-md-12 col-lg-12 section2">

            <div class="wenzhang">
                <h4><%= list.title %></h4>
                <p>作者：<span><%= list.author %></span>·<span><%= list.create_at; %></span></p>
            </div>
            <% if(list.img) { %>
            <img src="/uploads/<%= list.img %>" alt="" width="100%">
            <% } %>
            <div class="wenzhang1">
                <p>
                    <%-list.content %>
                </p>
            </div>
            <div class="wenzhang2">
                <button type="button" class="btn btn-default">阅读文章</button>
            </div>
            <hr>
            <div class="wenzhang3">
                <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
                <span>阅读：<%= list.view %></span>
            </div>

        </div>
        <% } %>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="background-color:#f5f5f5">

            <div class="fenye">
                <% if(totalPage >= 0){ %>
                <ul class="pagination">
                    <% if(page > 1) { %>
                    <li>
                        <a href="/?page=<%= parseInt(page) - 1 %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% } %>
                    <li><a href="" aria-label="Previous">
                            <span aria-hidden="true">第<%= page %>页/共<%= totalPage %>页</span>
                        </a>
                    </li>
                    <% if(totalPage > page){ %>
                    <li>
                        <a href="/?page=<%= parseInt(page) + 1 %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <% } %>
                </ul>
                <% } %>
            </div>
        </div>

    </div>

    <div class="section_2">
        <div class="col-sm-12 col-md-12 col-lg-12 section3">
        <%if(loginUser) {%>
            <div class="section3_1">
                <hr>
                <span>楼主简介</span>
                <a href="/users/personal"><img src="/uploads/<%=locals.loginUser.avatar%>" alt=""></a>
            </div>
            <div class="jianjie">
                <span id="username"><%=locals.loginUser.nickname%></span><br>
                <span id="position"><%=locals.loginUser.position%></span><br>
                <span id="other"><%=locals.loginUser.other%></span>
            </div>
            <div class="section3">
                <p class="signature"><%=locals.loginUser.signature%></p>
            </div>
            <%}%>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 section3_2">
            <span>个人标签</span><br>
            <a href="" class=" btn-success">手绘</a>
            <a href="" class="btn-info">ps教程</a>
            <a href="" class=" btn-warning">文字特效</a>
            <a href="" class=" btn-danger">青色</a>
            <a href="" class=" btn-success ">手绘</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 jingxuan">
            <hr>
            <span>精选文章</span>
            <a href=""><img src="/images/5431586.jpg" alt=""></a>
            <div class="jingxuan">
                <a href=""><span>越努力越幸运-字体效果设计</span></a> <br>
                <span>2018-01-12</span>
                <div class="wenzhang3">
                    <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <span>阅读：2222</span>
                </div>
            </div>
            <a href=""><img src="/images/3215648965.jpg" alt=""></a>

            <div class="jingxuan">
                <a href=""><span>26个英文字母设计-C4作品</span></a><br>
                <span>2018-01-08</span>
                <div class="wenzhang3">
                    <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <span>阅读：2321</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 jingxuan">
            <hr>
            <span>热门文章</span>
            <div class="jingxuan">
                <a href=""><span>26个英文字母设计-C4作品</span></a><br>
                <span>2018-01-08</span>
                <div class="wenzhang3">
                    <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <span>阅读：2321</span>
                </div>
                <br>
                <a href=""><span>26个英文字母设计-C4作品</span></a><br>
                <span>2018-01-08</span>
                <div class="wenzhang3">
                    <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <span>阅读：2321</span>
                </div>
                <br>
                <a href=""><span>26个英文字母设计-C4作品</span></a><br>
                <span>2018-01-08</span>
                <div class="wenzhang3">
                    <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <span>阅读：2321</span>
                </div>
                <br>
                <a href=""><span>26个英文字母设计-C4作品</span></a><br>
                <span>2018-01-08</span>
                <div class="wenzhang3">
                    <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <span>阅读：2321</span>
                </div>
            </div>
        </div>
    </div>


</section>
<%- include('footer') %>
</body>
</html>
<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/moment.js"></script>
<!--<script type="text/javascript" src="/javascripts/canvas-nest.min.js"></script>-->
<!--<canvas height="926" width="100%" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"-->
<!--id="c_n1"></canvas>-->
<!--<script src="/javascripts/canvas-ribboncanvas-ribbon.js"></script>-->
<!--<canvas width="1920" height="917" style="position: fixed; top: 0px; left: 0px; z-index: -1;"></canvas>-->
